# Le tour de France des Musées

## Téléchargement du fichier csv et ouverture sur le Notebook

### J'utilise Numpy et Pandas

In [11]:
import numpy as np
import pandas as pd

### Lecture

In [83]:
data = pd.read_csv("/Users/claramoreschi/Desktop/Thp_data/museums.csv", encoding='latin-1', sep = ';')
data

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
0,4540234591,3 bis f,109,Avenue du Petit Barthélémy,13617.0,Aix-en-Provence,France,fr,43.521207,5.439875,http://www.3bisf.com,contact@3bisf.com,3.344216e+10,NaN,osm:museum;art:art contemporain,NaN,"44116,0076388889",NaN
1,4388745689,A casa di Losari,NaN,T 30,20226.0,Belgodère,France,fr,42.638732,9.007660,NaN,NaN,NaN,NaN,osm:museum,NaN,"43338,9393981481",NaN
2,4426176194,À l'homme volant,35,Grande Rue,72300.0,Sablé-sur-Sarthe,France,fr,47.839656,-0.334043,NaN,NaN,3.324395e+10,NaN,osm:museum;type:centre d'interpretation,NaN,"42644,4636574074",NaN
3,7652598615,Abbadiale - Maison des arts,NaN,Rue du Gabizos,65400.0,Arras-en-Lavedan,France,fr,42.990826,-0.128057,https://www.abbadiale.fr/,NaN,3.363317e+10,NaN,osm:museum,NaN,"44120,0466782407",NaN
4,121580330,Abbaye,NaN,Rue de l'Abbaye,39210.0,Château-Chalon,France,fr,46.753866,5.624296,NaN,NaN,NaN,NaN,osm:museum;art:architecture,NaN,"43102,5491898148",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3779,1348524503,Vivarium du Moulin,NaN,Rue Principale,68610.0,Thann-Guebwiller,France,fr,47.942258,7.149613,NaN,NaN,NaN,NaN,osm:museum,NaN,"40747,8717476852",NaN
3780,577287841,Voyage au Temps des impressionnistes,NaN,Rue de Léry,95430.0,Auvers-sur-Oise,France,fr,49.072057,2.166167,NaN,NaN,NaN,NaN,osm:museum,NaN,"41141,7272222222",NaN
3781,145062184,Wines and Spirits Museum,NaN,Corniche Bonaparte,83150.0,Bandol,France,fr,43.128031,5.749484,NaN,NaN,NaN,NaN,osm:museum,NaN,"42367,7135069444",NaN
3782,82988725,Xanxotea,NaN,La Place,64240.0,Isturits,France,fr,43.364834,-1.203580,http://www.xanxotea.com/,NaN,NaN,NaN,osm:museum,Musée ethnographique Xanxotea pour découvrir l...,"44129,580775463",NaN
3783,277107550,Xylotheque - Kiosque Pedagogique,NaN,Impasse de la Haie Vive,45590.0,Saint-Cyr-en-Val,France,fr,47.825888,1.967795,NaN,NaN,NaN,NaN,osm:museum,NaN,"43331,4758449074",NaN

In [35]:
df = pd.DataFrame(data)

## Combien y-a-t-il de musées en France Métropolitaine ?

In [46]:
print("Il y a", len(data), "musées en France Métropolitaine")

Il y a 3784 musées en France Métropolitaine

## Dans quelle ville y-a-t-il le plus de musées ?

In [75]:
df['city'].value_counts()

Paris               175
Lyon                 33
Marseille            28
Grenoble             22
Bordeaux             20
                   ...
Jarnac                1
Tréguier              1
Pessac                1
Belmont               1
Saint-Cyr-en-Val      1
Name: city, Length: 2295, dtype: int64

## Quel est le nombre moyen de musées par ville ?

In [71]:
df['city'].value_counts().mean()

1.647930283224401

## Quel est le nombre médian de musées par ville ?

In [76]:
df['city'].value_counts().median()

1.0

## Comment sont répartis les musées par type (en pourcentage) ?

In [82]:
df['tags'].value_counts(normalize=True) * 100

osm:museum                                                                    57.509254
osm:museum;type:ecomusee                                                      10.232681
osm:museum;type:musee technique et industriel                                  5.129561
osm:museum;type:musee d'histoire                                               3.490217
osm:museum;art:architecture                                                    3.199365
                                                                                ...
osm:museum;gender:musee de couple;type:maison d'artiste                        0.026441
osm:museum;art:prehistoire;type:musee d'histoire naturelle                     0.026441
osm:museum;continent:art asiatique;type:centre d'art                           0.026441
osm:museum;type:musee d'artiste;type:musee litteraire;gender:musee d'homme     0.026441
osm:museum;gender:musee d'homme;type:musee de beaux-arts                       0.026441
Name: tags, Length: 119, dtype: float64

## Combien y-a-t-il de musées dont le nom commence par "Château" ?

In [99]:
chat = df[df["name"].str.startswith('Château')]
len(chat)

57

## Pour combien de musées dispose-t-on de l'adresse du site web ?

In [109]:
website = df["website"].dropna()
len(website)

1636

## Quel département français possède le plus et le moins de musées sur son territoire ?

In [119]:
df["departement"] = df['postal_code'].astype(str).str[0:2] 
df["departement"].value_counts()

75    180
59     97
33     94
71     91
13     90
     ...
28     14
23     11
90     10
48      9
98      8
Name: departement, Length: 88, dtype: int64

df['postal_code]

## Combien de musées ont "Napoléon dans leur nom ?

In [114]:
nap = df[df["name"].str.contains('Napoléon')]
len(nap)

4

# Ressources supplémentaires

## Fréquentation des musées

Identifiant du jeu de données : frequentation-des-musees-de-france

Site internet : https://data.culture.gouv.fr/explore/dataset/frequentation-des-musees-de-france/information/

Producteur : Ministère de la culture

code à taper pour ouvrir : data = pd.read_csv(frequentation-des-musees-de-france.csv", encoding='latin-1', sep = ';')

-> Permettrait de dégager les musées les moins visiter pour axer la publicité de ces derniers.